<div class="event-form">
    <h1> 
        Create an Event
    </h1>
    <form action ="/event/addEvent" method="post">
    {{status}} <p></p>
        <input type="text" name="name" placeholder="Event Name" /> <p></p>
        <input type="text" name="date" placeholder="Date of Event" /><p></p>
        <input type="text" name="time" placeholder="Time of Event" /><p></p>    
        <input type="text" name="owner" placeholder="Owner of Event" /><p></p>    
        <button type="submit" class="button"> 
            Create!
        </button>
    </form>
</div>