<h1>Team Delta</h1>
<p>Welcome to our Event Tracker</p>
 <a href= "/account/login"> Login </a> <p></p> <a href= "/account/register"> Register </a>
<p></p>

<a href= "/event/viewEvents"> View Events </a> <p></p>    
<p></p>
<a href= "/event/addEvent"> Create Event </a>

 
