<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("https://i.ytimg.com/vi/jF7GkbHUqnw/maxresdefault.jpg");

    /* Full height */
    height: 35%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
</head>

<body>

<div class="bg"></div>
<center>
 <div style="width:500px;height:200px;border:1px solid #000;">
    <center><h1>
        Login Page
    </h1></center> 
    <form action ="/account/login" method="post"><center>
    {{status}} <p></p>
        <input type="text" name="username" placeholder="username" /> <p></p>
        <input type="password" name="password" placeholder="password" /><p></p>
        <button type="submit" class="button"> 
            Login
        </button>
        </center>
    </form>
</div>
</center>
</div>

</body>
</html>
<!-- <p> text <a href= "/controller/getTag"> word </a> </p> ->
