<div class="log-form">
    <h1> 
        Login
    </h1>
    <form action ="/account/login" method="post">
    {{status}} <p></p>
        <input type="text" name="username" placeholder="username" /> <p></p>
        <input type="password" name="password" placeholder="password" /><p></p>
        <button type="submit" class="button"> 
            Login
        </button>
    </form>
</div>
<!-- <p> text <a href= "/controller/getTag"> word </a> </p> ->
