<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#">Delta</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li class="active">
            <a href= "/"> Home </a><p></p></li>
            <li><a href= "/account/login"> Login </a> <p></p></li>
            <li><a href= "/account/register"> Register </a> <p></p></li>
            <li><a href= "/event/viewEvents"> View Events </a> <p></p> </li>
            <li><a href= "/event/addEvent"> Create Event </a> <p></p></li>
        </ul>
        </div>
    </div>
    </nav>

<style>
h1{
    font-style: bold;
    font-family: fantasy;
    font-size: 80px
}

</style>

    <h1>Login Page</h1>

<div class="log-form">
    <form action ="/account/login" method="post">
    {{status}} <p></p>
        <input type="text" name="username" placeholder="username" /> <p></p>
        <input type="password" name="password" placeholder="password" /><p></p>
        <button type="submit" class="button"> 
            Login
        </button>
    </form>
</div>
</div>

</body>
</html>


<!-- <p> text <a href= "/controller/getTag"> word </a> </p> ->
