<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#">Delta</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li class="active">
            <a href= "/"> Home </a><p></p></li>
            <li><a href= "/account/login"> Login </a> <p></p></li>
            <li><a href= "/account/register"> Register </a> <p></p></li>
            <li><a href= "/event/viewEvents"> View Events </a> <p></p> </li>
            <li><a href= "/event/addEvent"> Create Event </a> <p></p></li>
        </ul>
        </div>
    </div>
    </nav>
<style>

<style>
.container {
    position: center;
    font-family: Arial;
}

.text-block {
    position: center;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
</style>
</head>
<body> 

<div class="container"> 
  <div class="text-block">
    <h1>Login Page</h1>
  </div>
</div>

    <center>
<div class="log-form">
 <div style="width:250px;height:150px;border:1px solid #000;">
    <form action ="/account/login" method="post"><center>
    {{status}} <p></p>
        <input type="text" name="username" placeholder="username" /> <p></p>
        <input type="password" name="password" placeholder="password" /><p></p>
        <button type="submit" class="button"> 
            Login
        </button>
        </center>
    </form>
</div>
</center>
</div>

</body>
</html>
<!-- <p> text <a href= "/controller/getTag"> word </a> </p> ->
