<div class="reg-form">
    <h1> 
        Create your account!
    </h1>
    <form action ="/account/register" method="post">
        <input type="text" name="username" placeholder= "username" /> <p></p>
        <input type="password" name="password1" placeholder= "password"/><p></p>
        <input type="password" name="password2" placeholder="confirm password" /><p></p>
        <button type="submit" class="button"> 
            Create!
        </button>
    </form>
</div>