<div class="reg-form">
    <h1> 
        Create your account!
    </h1>
    <form>
        <input type="text" title="username" placeholder={{us}} /> <p></p>
        <input type="password" title="password" placeholder= {{pq}}/><p></p>
        <input type="password" title="password" placeholder="confirm password" /><p></p>
        <button type="submit" class="button"> 
            Create!
        </button>
    </form>
</div>