
<h1><center>You can pay for {{name}} here</center></h1>
<script src="https://www.paypalobjects.com/api/checkout.js"></script>

 <body onload = "myFunks();"> <div class="regevent-form">
    <form name = "fuck" action =" " id =  {{name}} method="post">
    <div id = "fine" >{{status}}</div> <p></p>
        <p>PLEASE FILL OUT PAYMENT INFORMATION AND THEN CLICK THE REGISTER BUTTON THAT WILL APPEAR</p>
        
        <div id = "hell"></div> <!-- this button becomes a register button when you get your payment processeses -->
    </form>
</div> 

<p><center><div id="paypal-button-container"></div></center></p>
    <script>
                // Render the PayPal button
                paypal.Button.render({
                    // Set your environment
                    env: 'sandbox', // sandbox | production
                    // Specify the style of the button
                    style: {
                        label: 'buynow',
                        fundingicons: true, // optional
                        branding: true, // optional
                        size:  'small', // small | medium | large | responsive
                        shape: 'rect',   // pill | rect
                        color: 'gold'   // gold | blue | silve | black
                    },
                    // PayPal Client IDs - replace with your own
                    // Create a PayPal app: https://developer.paypal.com/developer/applications/create
                    client: {
                        sandbox:    'AZDxjDScFpQtjWTOUtWKbyN_bDt4OgqaF4eYXlewfBP4-8aqX3PiV8e1GWU6liB2CUXlkA59kJXE7M6R',
                        production: '<insert production client id>'
                    },
                                // Wait for the PayPal button to be clicked
                    payment: function(data, actions) {
                        return actions.payment.create({
                            transactions: [
                                {
                                    amount: { total: '0.01', currency: 'USD' }
                                }
                            ]
                        });
                    },
                    // Wait for the payment to be authorized by the customer
                    onAuthorize: function(data, actions) {
                        return actions.payment.execute().then(function() {
                         // if the payment processes render the register button 
                         
                         document.fuck.action = "/event/register/" + document.fuck.id; 
                         document.getElementById("hell").innerHTML= 
                            '<button type="submit" class="button"> Register </button>'
                            ;                            
                        });
                    }
                }, '#paypal-button-container');

                function myFunks(){
                   if(document.getElementById("fine").innerHTML.length > 5){
                       document.getElementById("fine").innerHTML = '<a href = //lmgtfy.com/?q=hotels> "would you like to book a hotel?"</a>'
                   }
                }

                
    </script>

    </body>