<html lang="en-US">

<head>
</head>

<body onload = "funky();">
  <div id = "name"> {{event.name}} </div>
  <div id = "owner"> {{event.owner}} </div>
  <div id = "date"> {{event.date}} </div>
  <div id = "price"> {{event.price}} </div>

  <form name = "register" method = 'get' action = " ">
    <button type = 'submit'>
      Register
    </button>
  </form>

</body>


<script>
  function funky(){
    p = document.getElementById("price").innerHTML;
    n = document.getElementById("name").innerHTML;
    var fuck ="/event/registerEvent/"+p.substring(1,p.length-1)+'/'+n.substring(1, n.length-1);
    alert(fuck);
    document.register.action = fuck;
    ;
  }
</script>

</html>