<body>
<ol>
<dt> e.date </dt>
<dt> e.owner </dt>
<dt> e.attendees </dt>
<dt>  e.name </dt>
</ol>
<script> const e = {{event}} </script>
</body>


<!--take all the information from this event and plug it into a form -->

<!-- var eventSchema = new Schema({
  date: Date,
  owner: String,
  attendees: Array,
  name: String
}); -->