<style>
body {background-color: #6842f4}
</style>

<body>
<p><font color="white"><h1><center><b> Events </center></h1></font></p>

<p><font color="white"><big><u><center> Below contains all available events </center></u></big></font></p>
</body>

<!-- display events here from the mongoDB ->