
<style>
    body {background-color: white}
</style>

<body onload = "funkyJams()" >
    <p><font color="black"><big><u><center> Below contains all available events </center></u></big></font></p>
    <div id = "eves"> {{events}} </div>

    <script>
        function funkyJams(){
            stuff = document.getElementById("eves").innerHTML;
            alert(Array.isArray(stuff.split(",")));
            var html='';
            for (var i=0; i<=events.length; i++) {
                html+='<p>'+stuff[i] +'</p>';
            }
            document.getElementById("eves").innerHTML+= html;
        }

        function hi(){
            tit0 = document.getElementById("eves").innerHTML;
            tit = Array.isArray(tit0);
            alert(tit);
            document.getElementById("eves").innerHTML = "fuck";
        
        }
    </script>
</body>

