<html lang="en-US">

<head>
</head>

<body onload = "funky();">
  <div> {{event.name}} </div>
  <div> {{event.owner}} </div>
  <div> {{event.date}} </div>
</body>
<form method='post' action='/view/registerEvent'>
  <button type='submit'>Register</button>
</form>
</html>