<html lang="en-US">

<head>
</head>

<body onload = "funky();">
  <div id = "name"> {{event.name}} </div>
  <div id = "owner"> {{event.owner}} </div>
  <div id = "date"> {{event.date}} </div>
  <div id = "price"> {{event.price}} </div>

  <div id = "register"> </div>

</body>


<script>
  function funky(){
    submit = 'submit';
    get = 'get';
    p = document.getElementById("price").innerHTML;
    n = document.getElementById("name").innerHTML;
    var html= '<form method='+get+'action = "/event/registerEvent/"'+ p +'/' + n+ '> <button type =' +submit+'> Register</button> </form>';
   document.getElementById("register").innerHTML = html;
  }
</script>

</html>