<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#">Delta</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li class="active">
            <a href= "/"> Home </a><p></p></li>
            <li><a href= "/account/login"> Login </a> <p></p></li>
            <li><a href= "/account/register"> Register </a> <p></p></li>
            <li><a href= "/event/viewEvents"> View Events </a> <p></p> </li>
            <li><a href= "/event/addEvent"> Create Event </a> <p></p></li>
        </ul>
        </div>
    </div>
    </nav>

<style>

h1{
    font-style: bold;
    text-decoration: underline;
    font-family: fantasy;
    font-size: 80px;
}

eves{
    font-size: 50px;
}

</style>
</head>
<body> 

    <center><h1>Below contains all available Events</h1></center>

<body onload = "funkyJams()" >
    <div id = "eves"> {{events}} </div>

    <script>
        function funkyJams(){
            stuff = document.getElementById("eves").innerHTML;
            newArray = stuff.split(",");
            var html='';
            for (var i=0; i<=newArray.length; i++) {
                html+= '<p></p><a href= "/event/viewEvent/'+newArray[i]+'">' +newArray[i]+ '</a>';
            }
            document.getElementById("eves").innerHTML= html;
        }

    </script>
</body>

