<div class="event-form">
<style>
body {background-color: #6842f4}
</style>

<body>
<h1><center><b> Events </center></h1>

<font size="+1"><big><u><center> Below contains all available events </center></u></big></font>
</body>
</div>