<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="/">Delta</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li class="active">
            <a href= "/"> Home </a><p></p></li>
            <li><a href= "/account/login"> Login </a> <p></p></li>
            <li><a href= "/account/register"> Register </a> <p></p></li>
            <li><a href= "/event/viewEvents"> View Events </a> <p></p> </li>
            <li><a href= "/event/addEvent"> Create Event </a> <p></p></li>
        </ul>
        </div>
    </div>
    </nav>
<head>
  <p>
    <font color="black"><big><u><center> 
      <div id = "name"> {{event.name}} </div>
      </center></u></big></font>
    </p>
</head>

<body onload = "funky();">
  <div id = "owner"> Event owner: {{event.owner}} </div>
  <div id = "date"> Date and time of event: {{event.date}} </div>
  <div id = "price"> Event price: ${{event.price}}.00 </div>
<p><center>
  <form name = "register" method = 'get' action = " ">
    <button type = 'submit'>
      Register
    </button>
  </form>
</center></p>
</body>


<script>
  function funky(){
    p = document.getElementById("price").innerHTML;
    n = document.getElementById("name").innerHTML;
    var dis ="/event/registerEvent/"+p.substring(1,p.length-1)+'/'+n.substring(1, n.length-1);
    document.register.action = dis;
    ;
  }
</script>

</html>