<<<<<<< HEAD
<div class="event-form">
    <style>
        body {background-color: #6842f4}
    </style>

    <body>
        <h1><center><b> Events </center></h1>

            <font size="+1"><big><u><center> Below contains all available events </center></u></big></font>

    </body>
</div> 
=======
<style>
body {background-color: #6842f4}
</style>

<body>
<p><font color="white"><h1><center><b> Events </center></h1></font></p>

<p><font color="white"><big><u><center> Below contains all available events </center></u></big></font></p>
</body>

<!-- display events here from the mongoDB ->
>>>>>>> 902b77c6f70b0703869df82d4d29e81baa95a216
