<html lang="en-US">

<head>
  <p>
    <font color="black"><big><u><center> 
      <div id = "name"> {{event.name}} </div>
      </center></u></big></font>
    </p>
</head>

<body onload = "funky();">
  <div id = "owner"> Event owner: {{event.owner}} </div>
  <div id = "date"> Date and time of event: {{event.date}} </div>
  <div id = "price"> Event price: ${{event.price}}.00 </div>
<p><center>
  <form name = "register" method = 'get' action = " ">
    <button type = 'submit'>
      Register
    </button>
  </form>
</center></p>
</body>


<script>
  function funky(){
    p = document.getElementById("price").innerHTML;
    n = document.getElementById("name").innerHTML;
    var fuck ="/event/registerEvent/"+p.substring(1,p.length-1)+'/'+n.substring(1, n.length-1);
    document.register.action = fuck;
    ;
  }
</script>

</html>