<style>
body {background-color: #6842f4}
</style>

<head>
<title><p><font color>="white"><h1><center><b> Events </center></h1></font></p></title>
</head>

<body>
<p><font color="white"><big><u><center> Below contains all available events </center></u></big></font></p>

{{#list events}}{{date}}{{owner}}{{attendees}}{{name}}{{/list}}
</body>

 <!--the idea of the html listing is to retrieve
the data from mongo from events and show events in a list ->