a {
  color: #00B7FF;
  background-color: white;
}

body{
background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/EbyCIUQPl/videoblocks-abstract-black-and-white-low-poly-waving-surface-as-atom-structure-grey-abstract-geometric-vibrating-environment-or-pulsating-background-in-cartoon-low-poly-popular-stylish-3d-design-free-space_s80v88_mb_thumbnail-full01.png");
}